/*.iml
/target
/.idea
/*.log
/*.ipr
/*.iws
node_modules
/D:
/weblog
.project
.classpath
.settings/

/src/main/webapp/WEB-INF/view/bundle.js
/src/main/webapp/WEB-INF/view/bundle.js.map

/src/main/webapp/resource/assets/css/main.css
target/
